
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<table  class="tx_vsoevvscout" >
	<tr>
		<th><f:translate key="tx_vsoevvscout_domain_model_match.uid" /></th>
		<th><f:translate key="tx_vsoevvscout_domain_model_match.gender" /></th>
		<th><f:translate key="tx_vsoevvscout_domain_model_match.matchdate" /></th>
		<th><f:translate key="tx_vsoevvscout_domain_model_match.result" /></th>
		<th><f:translate key="tx_vsoevvscout_domain_model_match.teams" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{matches}" as="match">
		<tr>
			<td><f:link.action action="show" arguments="{match : match}"> {match.uid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}"> <f:translate key="tx_vsoevvscout_domain_model_match.gender{match.gender}" /></f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}"> {match.matchdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}"> {match.result}</f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}"> {match.hometeam.name} - <br />{match.guestteam.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{match : match}" title="edit match">
			<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil yellow"></span></button>			
			</f:link.action></td>
			<td><f:link.action action="delete" arguments="{match : match}" title="delete match">
				<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-remove red"></span></button>
				</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Match</f:link.action>
</f:section>