
<table class="tx-vsoevvscout" >
	<tr>
		<td>
			<f:translate key="tx_vsoevvscout_domain_model_player.lastname" />
		</td>
		<td>
			{player.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vsoevvscout_domain_model_player.firstname" />
		</td>
		<td>
			{player.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vsoevvscout_domain_model_player.shirtname" />
		</td>
		<td>
			{player.shirtname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vsoevvscout_domain_model_player.birthdate" />
		</td>
		<td>
			{player.birthdate -> f:format.date()}
		</td>
	</tr>
</table>