
<label for="gender"><f:translate key="tx_vsoevvscout_domain_model_match.gender" /></label> 
<f:form.select property="gender" options="{1: 'männlich', 2: 'weiblich'}" /><br />
<label for="matchdate">
	<f:translate key="tx_vsoevvscout_domain_model_match.matchdate" />
</label><br />
	<f:form.textfield class="date" property="matchdate"  value="{match.matchdate->f:format.date()}" /><br />
	
<label for="homeset1"><f:translate key="tx_vsoevvscout_domain_model_match.homeset1" /></label>
	<f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="homeset1" /> : <f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="guestset1" />
	<br />
<label for="homeset1"><f:translate key="tx_vsoevvscout_domain_model_match.homeset2" /></label>
	<f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="homeset2" /> : <f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="guestset2" />
	<br />
<label for="homeset1"><f:translate key="tx_vsoevvscout_domain_model_match.homeset3" /></label>
	<f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="homeset3" /> : <f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="guestset3" />
	<br />
<label for="homeset1"><f:translate key="tx_vsoevvscout_domain_model_match.homeset4" /></label>
	<f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="homeset4" /> : <f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="guestset4" />
	<br />
<label for="homeset1"><f:translate key="tx_vsoevvscout_domain_model_match.homeset5" /></label>
	<f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="homeset5" /> : <f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="guestset5" />
	<br />
<label for="homeset1"><f:translate key="tx_vsoevvscout_domain_model_match.homesetgold" /></label>
	<f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="homesetgold" /> : <f:form.textfield class="set" type="number" additionalAttributes="{min:0}"  property="guestsetgold" />
	<br />

	
<script>
window.onload = function () {
	$( ".date" ).datepicker();
}	
</script>	