{namespace vh=Volleyballserver\Vsoevvscout\ViewHelpers} 

<h3 class="red">Nr.:  {match.uid} <f:translate key="tx_vsoevvscout_domain_model_match.gender{match.gender}" /></h3>
 {match.matchdate -> f:format.date()}  {match.hometeam.name} ({match.hometeam.country.code}) - {match.guestteam.name}({match.guestteam.country.code}) {match.result} <br />
<br /> 
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-12 br-grew">
	
		<h3>Files assigned to the match</h3>
		<f:for each="{match.file}" as="file" >
			<f:render partial="Match/File" arguments="{file:file}" />
		</f:for> 
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12 br-grew">
		<h3>Files assigned to {match.hometeam.name}</h3>
		<f:for each="{match.hometeam.file}" as="file" >
			<f:render partial="Match/File" arguments="{file:file}" />
		</f:for> 
	</div>
	<f:for each="{match.hometeam.player}" as="player">
		<div class="col-lg-4 col-md-6 col-sm-12 br-grew">
			<h3>Files assigned to {player.lastname}</h3>
			<f:for each="{player.file}" as="file" >
				<f:render partial="Match/File" arguments="{file:file}" />
			</f:for> 
		</div>
	</f:for>	
	<div class="col-lg-4 col-md-6 col-sm-12 br-grew">
		<h3>Files assigned to {match.guestteam.name}</h3>
		<f:for each="{match.guestteam.file}" as="file" >
			<f:render partial="Match/File" arguments="{file:file}" />
		</f:for>
	</div>
	
	<f:for each="{match.guestteam.player}" as="player">
		<div class="col-lg-4 col-md-6 col-sm-12 br-grew">
			<h3>Files assigned to {player.lastname}</h3>
			<f:for each="{player.file}" as="file" >
				<f:render partial="Match/File" arguments="{file:file}" />
			</f:for> 
		</div>
	</f:for>	
</div>	 
<br />