{namespace vh=Volleyballserver\Vsoevvscout\ViewHelpers} 
<div class="row f16">
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<f:format.crop respectWordBoundaries="false" maxCharacters="45" append="&nbsp;[...]"> 
					{match.matchdate -> f:format.date()} <f:render partial="Country/Flag" arguments="{country : match.hometeam.country}" /> 
					{match.hometeam.name} - <f:render partial="Country/Flag" arguments="{country : match.guestteam.country}" /> {match.guestteam.name}
				</f:format.crop>				
			</div>
			<div class="panel-body">
				<f:for each="{match.file}" as="file" >
					<f:render partial="Match/File" arguments="{file:file}" />
				</f:for> 
			</div>
		</div>
</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<f:format.crop respectWordBoundaries="false" maxCharacters="45" append="&nbsp;[...]"> 
						<f:render partial="Country/Flag" arguments="{country : match.hometeam.country}" /> {match.hometeam.name}
				</f:format.crop></div>
			<div class="panel-body">
				<f:for each="{match.hometeam.file}" as="file" >
					<f:render partial="Match/File" arguments="{file:file}" />
				</f:for>
			</div>
		</div>
	</div>
	<f:for each="{match.hometeam.player}" as="player">
		<div class="col-lg-4 col-md-6 col-sm-12 ">
			<div class="panel panel-info">
				<div class="panel-heading">
					<f:format.crop respectWordBoundaries="false" maxCharacters="45" append="&nbsp;[...]"> 
						{player.firstname} {player.lastname}
					</f:format.crop>
				</div>
				<div class="panel-body">
					<f:for each="{player.file}" as="file" >
						<f:render partial="Match/File" arguments="{file:file}" />
					</f:for>
				</div>
			</div>
		</div>
	</f:for>	
	<div class="col-lg-4 col-md-6 col-sm-12 ">
			<div class="panel panel-success">
			<div class="panel-heading">
				<f:format.crop respectWordBoundaries="false" maxCharacters="45" append="&nbsp;[...]"> 
						<f:render partial="Country/Flag" arguments="{country : match.guestteam.country}" /> {match.guestteam.name}
				</f:format.crop></div>
			<div class="panel-body">
				<f:for each="{match.guestteam.file}" as="file" >
					<f:render partial="Match/File" arguments="{file:file}" />
				</f:for>
			</div>
		</div>
	</div>
	
	<f:for each="{match.guestteam.player}" as="player">
		<div class="col-lg-4 col-md-6 col-sm-12 ">
			<div class="panel panel-info">
				<div class="panel-heading">
					<f:format.crop respectWordBoundaries="false" maxCharacters="45" append="&nbsp;[...]"> 
						{player.firstname} {player.lastname}
					</f:format.crop>
				</div>
				<div class="panel-body">
					<f:for each="{player.file}" as="file" >
						<f:render partial="Match/File" arguments="{file:file}" />
					</f:for>
				</div>
			</div>
		</div>
	</f:for>	
</div>	 
<br />