<h1>Nr.:  {match.uid} <f:translate key="tx_vsoevvscout_domain_model_match.gender{match.gender}" /></h1><br />

 {match.matchdate -> f:format.date()}  {match.hometeam.name} - {match.guestteam.name} {match.result} <br />
<br /> 
<h2>Files assigned to the match</h2>
<f:for each="{match.file}" as="file" >
		{file.originalResource.name}, 
		
</f:for> 
<br />

<h2>Files assigned to {match.hometeam.name}</h2>
<f:for each="{match.hometeam.file}" as="file" >
		{file.originalResource.name}, 
		
</f:for> 
<br />
<h2>Files assigned to {match.guestteam.name}</h2>
<f:for each="{match.guestteam.file}" as="file" >
		{file.originalResource.name}, 
		
</f:for> 
<br />